*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border:1px solid red; */
}
/* -----VARIABLES CSS------------ */
:root{
    --primary-color: #CC0000;
    --header-bb-color: #B3B3B3;
    --bgc: #f8f9fa;
    --h1-letter-spacing: 6px;
    --letter-spacing: 2px;
    --h1-font-size: 40px;
    --h2-font-size: 30px;
    --h3-font-size: 20px;
    --pdg-page: 2rem 6rem;
}


/* ---------END VARIABLE CSS--------- */

/* ----------------GLOBAL----------------- */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    letter-spacing: var(--h1-letter-spacing);
    font-size: var(--h1-font-size);
    color: var(--primary-color);
}
/* END GLOBAL */

/* -------------HEADER------------------- */
.header{
    max-width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    border-bottom: 1px solid var(--header-bb-color);
}
.header_logo img{
    width: 200px;
}
.login_registration{
    display: flex;
}
.login_registration li{
    margin-left: 1rem;
}
.login_registration li a{
    color: black;
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    transition: 0.3s;
}
.login_registration li a:hover{
    color: var(--primary-color);
}
i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_location{
    padding: 0.6rem 3rem;
    border: 1px solid black;
}
.navigation{
    padding: 0.5rem 6rem;
    border-bottom: 1px solid var(--header-bb-color);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    margin-left: 1rem;
}
.navigation nav ul li a{
    color: black;
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    transition: 0.3s;
    text-decoration: none;
}
nav ul li a:hover{
    color: var(--primary-color);
}

/* ----------FOOTER------------- */

footer{
    background-color: var(--bgc);
    color: var(--primary-color);
    line-height: 1.5;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}
footer a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.foot-container{
    flex: 1;
}

.ft-main {
    padding: 1.25rem 6rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.contact{
    margin-top: 2rem;
    font-weight: 800;
}
.ft-main-item:nth-child(5)
{
    padding-top: 12rem;
    font-size: 20px;
    
}
.ft-main-item ul li img{
    width: 150px;
}
.ft-main-item .copyright li:nth-of-type(2){
    color: black;
}
.ft-main-item .copyright li:nth-of-type(3){
    color: black;
}


/* --------END FOOTER----------- */

/* -------FORMULAIRE VICTOR ----------------*/
/* .page_title{
    text-align: center;
    padding-top: 3rem;
    font-weight: normal;
} */
input{
    font-size: 20px;
    font-weight: 100;
}

.form-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 0;
}
.form-label{
    color:black;
}

.form-input{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}
.form-submit
{
    font-size: var(--h3-font-size);
    padding: 0.5rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
    margin-top: 40px;
    background-color: var(--primary-color);
    color: white;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}
.form-submit:hover
{
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
}
.bouton{
    display: flex;
    justify-content: center;
}
.link{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.connexion-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}
.connexion-title span{
    font-size: 4rem;
    font-weight: 600;
}
.connexion-title p{
    font-size: 1.2rem;
}
.redirect-register{
    display: flex;
    justify-content: center;
}
.redirect-register a{
    color: black;
    text-decoration: none;
}
.redirect-register a:hover{
    color: var(--primary-color);

}
@media (max-width: 470px)
{
    .form-container{
        margin-left: 2em;
        margin-right: 2em;
    }
}
/* END FORMULAIRE VICTOR */

/* PAGE INDEX */
main{
    background-color: var(--bgc);
}
.section{
    padding: 4rem 6rem;
}

.container_img img{
    width: 100%;
}
.hr{
    padding-top: 2rem;
}
.text_confort{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.text_confort p{
    font-size: 1.5rem;
    width: 200px;
    text-align: center;
    font-style: italic;
}
.text_confort p span{
    color: var(--primary-color);
    font-weight: 600;
}
.text_canape{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.text_canape p{
    font-size: 2.3rem;
    text-align: center;
    font-weight: 600;
    width: 1200px;
}

/* END INDEX */

/* -----------BOUTIQUE-------------------- */

/* BOUTIQUE CATEGORY */
.section{
    padding: 4rem 6rem;
}
.category h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
/* Liste des catégories sur la page */
.list_category{
    margin-bottom: 3rem;
    display: flex;
}
.list_category li{
    margin-right: 1rem;
}
.list_category li a{
    border: 1px solid var(--primary-color);
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
    text-decoration: none;
}
.list_category li a:hover{
    background-color: var(--primary-color);
    color: white;
}
/* Partie toutes les catégories */
.list_category li:nth-of-type(1) a{
    background-color: var(--primary-color);
    color: white;
}
.list_category li:nth-of-type(1) a:hover{
    background-color: white;
    color: var(--primary-color);
}
/* BOUTIQUE CARD */
.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    gap: 1rem;
}
.card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    /* width: 30%; */
}
.card-title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.card-btn{
    margin-top: 1rem;
}
.card-btn a{
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}
.card-btn a:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.card-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* ----------END BOUTIQUE--------------------- */

/* --------------FICHE PRODUIT------------------ */

.details_product{
    display: flex;
    justify-content: center;
}
.details_content{
    border: 1px solid black;
    padding: 4rem;
    border-radius: 20px;
    /* font-weight: normal; */
    text-align: center;
}
/* --------------END FICHE PRODUIT-------------- */